<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoa">
      <ng-container *ngIf="exibirIdade === 'todas' || (exibirIdade === 'menor' && pessoa.idade < 30) || (exibirIdade === 'maior' && pessoa.idade > 30)">
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.idade }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
<button (click)="alterarCondicaoExibicao('todas')">Exibir Todas</button>
<button (click)="alterarCondicaoExibicao('menor')">Exibir Menor que 30</button>
<button (click)="alterarCondicaoExibicao('maior')">Exibir Maior que 30</button>
<button routerLink="/admin/pessoas/novo">Cadastrar</button>
<button routerLink="/admin/pessoas/editar/:1">Atualizar</button>
<style class="css">
  body {
      font-family: 'Arial', sans-serif;
  }

  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  }

  th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }

  th {
  background-color: #f2f2f2;
  }

  button {
  height: 25px;
  width: 10%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
  text-align: center;
  border-radius: 10px;
  }

  button:hover{
  background-color: #6499E9;
  color: #fff;
  border: 1px solid #fff;
  }
</style>